<!DOCTYPE html>
<html lang="pt-br">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
     <link rel="stylesheet" type="text/css" href="../static/reset.css">
     <link rel="stylesheet" type="text/css" href="../static/styles.css">
     <link rel="icon" type="image/x-icon" href="../img/icone/icon.ico">
     <title>Portfolio Ruancard</title>
</head>
<body class="projetos">
     <header>
          <a href="../index.html"><h3>&lt;Ruancard /&gt;</h3></a>
          <nav class="nav">
               <a href="../index.html"><h4>Inicio</h4></a>
               <a href="sobre.html"><h4>Sobre</h4></a>
               <a href="projetos.html" class="active-link"><h4>Projetos</h4></a>
               <a href="habilidades.html"><h4>Habilidades</h4></a>
               <a href="contatos.html"><h4>Contatos</h4></a>
          </nav>
          <button class="menu-button">
               <i class="fa-solid fa-bars"></i>
          </button>
          <div class="contatos">
               <a href="https://www.linkedin.com/in/ruancard/"><i class="fa-brands fa-linkedin-in"></i></a>
               <a href="https://github.com/Ruancard"><i class="fa-brands fa-github"></i></a>
          </div>
     </header>
     <main>
          <div class="card">
               <div class="img-projeto">
                    <img src="../img/projetos/habitos.png" alt="imagem do projeto">
               </div>
               <h3>Website- Hábitos sustentaveis</h3>
               <div class="descricao">
                    <div class="card-tecnologias">
                         <img src="../img/tecnologias/html.svg" alt="HTML5">
                         <img src="../img/tecnologias/css.svg" alt="CSS3">
                    </div>
                    <div class="card-botoes">
                         <a href="https://github.com/Ruancard/website-habitos-sustentaveis"><h4>Repositorio</h4></a>
                         <a href="https://ruancard.github.io/website-habitos-sustentaveis/"><h4>deploy</h4></a>
                    </div>
               </div>
          </div>
          <div class="card">
               <div class="img-projeto">
                    <img src="../img/projetos/pokedex.png" alt="imagem do projeto">
               </div>
               <h3>Pokedex</h3>
               <div class="descricao">
                    <div class="card-tecnologias">
                         <img src="../img/tecnologias/html.svg" alt="HTML5">
                         <img src="../img/tecnologias/css.svg" alt="CSS3">
                         <img src="../img/tecnologias/react.svg" alt="React">
                         <img src="../img/tecnologias/next.svg" alt="Nextjs">
                    </div>
                    <div class="card-botoes">
                         <a href="https://github.com/Ruancard/pokenext"><h4>Repositorio</h4></a>
                         <a href="https://pokenext-indol-pi.vercel.app/"><h4>deploy</h4></a>
                    </div>
               </div>
          </div>
          <div class="card">
               <div class="img-projeto">
               </div>
               <h3>em breve</h3>
               <div class="descricao">
               </div>
          </div>
          <div class="card">
               <div class="img-projeto">
               </div>
               <h3>em breve</h3>
               <div class="descricao">
               </div>
          </div>
          <div class="card">
               <div class="img-projeto">
               </div>
               <h3>em breve</h3>
               <div class="descricao">
               </div>
          </div>
          <div class="card">
               <div class="img-projeto">
               </div>
               <h3>em breve</h3>
               <div class="descricao">
               </div>
          </div>
     </main>
     <script src="../js/index.js"></script>
</body>
</html>
